<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../libs/angular.min%20(1).js"></script>
    <script src="../json/lggloutput.json"></script>
    <script src="../js/lggl/lggl.js"></script>
    <script src="../js/lggl/lgglcontrol.js"></script>
    <script src="../js/lggl/lgglfactory.js"></script>
</head>



<body  ng-app="lggl" ng-controller="lgglcontrol">
<!--navbar start-->
<nav class="navbar navbar-static-top bg no-padding no-margin">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-bar-stylo" data-toggle="collapse" data-target="#bs-crimson-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="images/valor2_burned.png" class="img-logo">
            <a href="#" class="navbar-brand white">CrimSon</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-crimson-navbar-collapse-1">
            <ul class="nav navbar-nav butto">
                <li><a href="index.html" class="white">Home</a></li>
                <li><a ng-click="goToAbout()" class="white">About</a></li>
                <li><a ng-click="goToContact()" class="white">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown">Products<b class="caret"></b></a>
                    <ul class="dropdown-menu bg c-button">
                        <li><a ng-click="mob()" class="c-button">Smartphones</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tab()" class="c-button">Tablets</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tv()" class="c-button">LED Smart Tv</a></li>
                        <li class="divider"></li>
                        <li><a href="category.html" class="c-button">More</a></li>

                        <!--<li><a onclick="openNav()" class="c-button">Side</a></li>-->

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--navbar ends-->
<div class="container">

    <table class="table">
        <tr><td ng-repeat="object in redmi"><img ng-src="{{object.image}}"/><br><h1 style="color: crimson">{{object.name}}</h1><br><span><h3>Description:</h3></span><h3>{{object.description}}</h3><br><span><h4>Amazon Price: Rs.{{object.price}}                         <a href="{{object.amazon_url}}" ><img src="../images/amazon.png"></a></h4></span><br><span><h4>Snapdeal Price: Rs.{{object.sd_price}}                       <a href="{{object.snapdeal_url}}"><img src="../images/snapdeal.jpeg"></a> </h4></span><br><span><h4>Ebay Price:{{object.ebay_price}}                         <a href="{{object.ebay_url}}"><img src="../images/ebay.jpeg"></a> </h4></span><br><span><h4>Ratings:{{object.rating}}</h4></span></td></tr>
    </table>
    <button onclick="stopspeech()" class="btn btn-danger">Stop Speech</button>
    <button onclick="pause()" class="btn btn-danger">pause Speech</button>
    <button onclick="resume()" class="btn btn-danger">resume Speech</button>
    <div class="row">

        <div id="about" class="col-md-6">
            <h2>About Us</h2>
            <p>We are the ones who would like to help customers with all their shopping related necessties. We are here to guide them with all the information they seek to best of ur knowledge.</p>
        </div>
        <div class="col-md-6">
            <h2 id="contact">Contact</h2>
            <address>
                Crimson, A-10,<br>
                Sector-62, Noida-201309<br>
                Mob:99904315502<br>
                Email:annu_m12@yahoo.com

            </address>

        </div>
    </div>
</div>
<!--footer start-->

<footer id="foot">
    <div class="site-footer">
        <div class="container">

            <div class="bottom-footer">
                <div class="col-md-5">@copyright Anubhav Mishra 2016</div>
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href="xiaomi%20redmi%20note%203.html3.html">Home</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a ng-click="goToAbout">About</a></li>
                        <li><a ng-click="goToContact">Contact Us</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->
<script type="text/javascript" src="../bootstrap/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var jsonproduct=
    {
        "amazon_url": "http://www.amazon.in/LG-GL-Q292SHAM-Frost-free-Double-door-Refrigerator/dp/B01DM8HRKC/ref=sr_1_3?s=kitchen&ie=UTF8&qid=1476175128&sr=1-3&keywords=lg+refrigerator+260+ltr+double+door",
        "snapdeal_url": "https://www.snapdeal.com/product/lg-260-glt292rhsm-frost-free/633103670479#bcrumbSearch:lg%20refrigerators",
        "ebay_url": "http://www.ebay.in/itm/Brand-New-LG-255-LITRES-FROST-FREE-REFRIGERATOR-Model-GL-Q282SHAM-2016-Model-/282021829803?hash=item41a9cf9cab:g:OAcAAOSwFEFXJDu2",
        "name": "LG GL-Q292SHAM Frost-free Double-door Refrigerator (260 Ltrs, 3 Star Rating, Hazel Aster)",
        "description": "Installation: For requesting an installation/demo for this product once delivered, please call LG support directly on 1800-315-9999 and provide the products model name. Installation charges may be levied by LG Customers are requested to confirm directly with LG while requesting for a demo/installation\n\t\t\t\t\t\n\t\t\t\t\t\t Frost-free double-door refrigerator; 260 litres capacity\n\t\t\t\t\t\n\t\t\t\t\t\t Energy Rating: 3 Star\n\t\t\t\t\t\n\t\t\t\t\t\t 1 year on product\n\t\t\t\t\t\n\t\t\t\t\t\t Premium finish\n\t\t\t\t\t\n\t\t\t\t\t\t 1 Year Comprehensive on refrigerator and 9 Years on the Smart Inverter Compressor from LG",
        "price": "25,400",
        "sd_price": "27,386",
        "ebay_price": "Rs. 26,200.00",
        "image": "http://static.digit.in/product/5120bd689512c82bb0cfa70db519ed794f8b441e.jpeg",
        "rating": "5.0 out of 5 stars"
    }

    //var json = JSON.parse(jsonproduct);
    var details=jsonproduct.name+' Description:'+jsonproduct.description+' Amazon Price:'+jsonproduct.price+' Snapdeal Price:'+jsonproduct.sd_price+' Ebay Price:'+jsonproduct.ebay_price+' User Ratings'+jsonproduct.rating;
    //console.log('details');
    var msg = new SpeechSynthesisUtterance(details);
    window.speechSynthesis.speak(msg);
    function stopspeech(){
        window.speechSynthesis.cancel();
    }
    function pause(){
        window.speechSynthesis.pause();
    }
    function resume(){
        window.speechSynthesis.resume();
    }
</script>
</body>
</html>