<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../libs/angular.min%20(1).js"></script>
    <script src="../json/ushasewingoutput.json"></script>
    <script src="../js/ushasewing/ushasewing.js"></script>
    <script src="../js/ushasewing/ushasewingcontrol.js"></script>
    <script src="../js/ushasewing/ushasewingfactory.js"></script>
</head>



<body  ng-app="ushasewing" ng-controller="ushasewingcontrol">
<!--navbar start-->
<nav class="navbar navbar-static-top bg no-padding no-margin">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-bar-stylo" data-toggle="collapse" data-target="#bs-crimson-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../images/valor2_burned.png" class="img-logo">
            <a href="#" class="navbar-brand white">CrimSon</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-crimson-navbar-collapse-1">
            <ul class="nav navbar-nav butto">
                <li><a href="xiaomi%20redmi%20note%203.html3.html" class="white">Home</a></li>
                <li><a ng-click="goToAbout()" class="white">About</a></li>
                <li><a ng-click="goToContact()" class="white">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown">Products<b class="caret"></b></a>
                    <ul class="dropdown-menu bg c-button">
                        <li><a ng-click="mob()" class="c-button">Smartphones</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tab()" class="c-button">Tablets</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tv()" class="c-button">LED Smart Tv</a></li>
                        <!--<li><a onclick="openNav()" class="c-button">Side</a></li>-->

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--navbar ends-->
<nav class="navbar navbar-static-top bg no-padding no-margin">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-bar-stylo" data-toggle="collapse" data-target="#bs-crimson-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="images/valor2_burned.png" class="img-logo">
            <a href="#" class="navbar-brand white">CrimSon</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-crimson-navbar-collapse-1">
            <ul class="nav navbar-nav butto">
                <li><a href="index.html" class="white">Home</a></li>
                <li><a ng-click="goToAbout()" class="white">About</a></li>
                <li><a ng-click="goToContact()" class="white">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown">Products<b class="caret"></b></a>
                    <ul class="dropdown-menu bg c-button">
                        <li><a ng-click="mob()" class="c-button">Smartphones</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tab()" class="c-button">Tablets</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tv()" class="c-button">LED Smart Tv</a></li>
                        <li class="divider"></li>
                        <li><a href="category.html" class="c-button">More</a></li>

                        <!--<li><a onclick="openNav()" class="c-button">Side</a></li>-->

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--footer start-->

<footer id="foot">
    <div class="site-footer">
        <div class="container">

            <div class="bottom-footer">
                <div class="col-md-5">@copyright Anubhav Mishra 2016</div>
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href="xiaomi%20redmi%20note%203.html3.html">Home</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a ng-click="goToAbout">About</a></li>
                        <li><a ng-click="goToContact">Contact Us</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->
<script type="text/javascript" src="../bootstrap/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var jsonproduct=
    {
        "amazon_url": "http://www.amazon.in/Usha-Janome-Allure-75-Watt-Machine/dp/B00E9OFDH8/ref=sr_1_4?s=kitchen&ie=UTF8&qid=1476547397&sr=1-4&keywords=usha+sewing+machine",
        "snapdeal_url": "https://www.snapdeal.com/product/usha-janome-allure-sewing-machine/432999078#bcrumbSearch:Usha%20Janome%20Dream%20Stitch%20Sewing%20Machine",
        "ebay_url": "http://www.ebay.in/itm/EXTRA-DISCOUNT-Usha-Allure-Automatic-Sewing-Machine-2-Year-Usha-Warranty-/251697907819?hash=item3a9a5d486b:g:zqQAAOSw9IpX0UmP",
        "name": "Usha Janome Allure 75-Watt Sewing Machine (White/Blue)",
        "description": "AZ sewing machine with 30 stitch functions of which the main ones are stretch stitching, four step button holing, button fixing, rolled hemming, blind stitch hemming, zip fixing\n\t\t\t\t\t\n\t\t\t\t\t\t Lightweight and comes with a carrying handle\n\t\t\t\t\t\n\t\t\t\t\t\t Colour coded functional face plate and two dials for pattern and stitch length selection\n\t\t\t\t\t\n\t\t\t\t\t\t Free arm machine which allows for circular stitching\n\t\t\t\t\t\n\t\t\t\t\t\t Warranty: 2 years on product\n\t\t\t\t\t\n\t\t\t\t\t\t Power: 75 watts; Operating voltage: 230 volts\n\t\t\t\t\t\n\t\t\t\t\t\t Includes: Sewing machine, Paddle, Power cord, Instruction manual, Instruction manual and Warranty card",
        "price": "8,489",
        "sd_price": "9,449",
        "ebay_price": "Rs. 9,999.00",
        "image": "https://n4.sdlcdn.com/imgs/a/5/o/Usha-Allure-Sewing-Machine-SDL157542646-2-ccda9.jpg",
        "rating": "4.3 out of 5 stars"
    }

    //var json = JSON.parse(jsonproduct);
    var details=jsonproduct.name+' Description:'+jsonproduct.description+' Amazon Price:'+jsonproduct.price+' Snapdeal Price:'+jsonproduct.sd_price+' Ebay Price:'+jsonproduct.ebay_price+' User Ratings'+jsonproduct.rating;
    //console.log('details');
    var msg = new SpeechSynthesisUtterance(details);
    window.speechSynthesis.speak(msg);
    function stopspeech(){
        window.speechSynthesis.cancel();
    }
    function pause(){
        window.speechSynthesis.pause();
    }
    function resume(){
        window.speechSynthesis.resume();
    }
</script>
</body>
</html>