<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../libs/angular.min%20(1).js"></script>
    <script src="../json/Xiaomi%20Redmi%20Note%203%20(Gold,%2032GB)output.json"></script>
    <script src="../js/redminote3/redminote3.js"></script>
    <script src="../js/redminote3/redminote3control.js"></script>
    <script src="../js/redminote3/redminote3factory.js"></script>
</head>



<body  ng-app="redminote3" ng-controller="redminote3control">
<!--navbar start-->
<nav class="navbar navbar-static-top bg no-padding no-margin">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle nav-bar-stylo" data-toggle="collapse" data-target="#bs-crimson-navbar-collapse-1">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="images/valor2_burned.png" class="img-logo">
            <a href="#" class="navbar-brand white">CrimSon</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-crimson-navbar-collapse-1">
            <ul class="nav navbar-nav butto">
                <li><a href="index.html" class="white">Home</a></li>
                <li><a ng-click="goToAbout()" class="white">About</a></li>
                <li><a ng-click="goToContact()" class="white">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle white" data-toggle="dropdown">Products<b class="caret"></b></a>
                    <ul class="dropdown-menu bg c-button">
                        <li><a ng-click="mob()" class="c-button">Smartphones</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tab()" class="c-button">Tablets</a></li>

                        <li class="divider"></li>
                        <li><a ng-click="tv()" class="c-button">LED Smart Tv</a></li>
                        <li class="divider"></li>
                        <li><a href="category.html" class="c-button">More</a></li>

                        <!--<li><a onclick="openNav()" class="c-button">Side</a></li>-->

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--navbar ends-->
<div class="container">

    <table class="table">
        <tr><td ng-repeat="object in redmi"><img ng-src="{{object.image}}"/><br><h1 style="color: crimson">{{object.name}}</h1><br><span><h3>Description:</h3></span><h3>{{object.description}}</h3><br><span><h4>Amazon Price: Rs.{{object.price}}                         <a href="{{object.amazon_url}}" ><img src="../images/amazon.png"></a></h4></span><br><span><h4>Snapdeal Price: Rs.{{object.sd_price}}                       <a href="{{object.snapdeal_url}}"><img src="../images/snapdeal.jpeg"></a> </h4></span><br><span><h4>Ebay Price:{{object.ebay_price}}                         <a href="{{object.ebay_url}}"><img src="../images/ebay.jpeg"></a> </h4></span><br><span><h4>Ratings:{{object.rating}}</h4></span></td></tr>
    </table>
    <button onclick="stopspeech()" class="btn btn-danger">Stop Speech</button>
    <button onclick="pause()" class="btn btn-danger">pause Speech</button>
    <button onclick="resume()" class="btn btn-danger">resume Speech</button>
    <div class="row">

        <div id="about" class="col-md-6">
            <h2>About Us</h2>
            <p>We are the ones who would like to help customers with all their shopping related necessties. We are here to guide them with all the information they seek to best of ur knowledge.</p>
        </div>
        <div class="col-md-6">
            <h2 id="contact">Contact</h2>
            <address>
                Crimson, A-10,<br>
                Sector-62, Noida-201309<br>
                Mob:99904315502<br>
                Email:annu_m12@yahoo.com

            </address>

        </div>
    </div>
</div>
<!--footer start-->

<footer id="foot">
    <div class="site-footer">
        <div class="container">

            <div class="bottom-footer">
                <div class="col-md-5">@copyright Anubhav Mishra 2016</div>
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href="xiaomiredminote3.html">Home</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a ng-click="goToAbout">About</a></li>
                        <li><a ng-click="goToContact">Contact Us</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->
<script type="text/javascript" src="../bootstrap/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var jsonproduct=
    {
        "amazon_url": "http://www.amazon.in/gp/product/B01C2T6IDY/ref=br_asw_pdt-3/255-5256393-4509514?pf_rd_m=A1VBAL9TL5WCBF&pf_rd_s=desktop-1&pf_rd_r=1KH091S2WNDD20J1AWWW&pf_rd_t=36701&pf_rd_p=bf0ef2fd-53e8-410d-9756-b13a70e28cb8&pf_rd_i=desktop",
        "snapdeal_url": "https://www.snapdeal.com/product/redmi-note3-32gb/654134757432#bcrumbSearch:redmi%20note%203",
        "ebay_url": "http://www.ebay.in/itm/Xiaomi-Redmi-Note-3-3GB-Ram-32GB-Rom-16-Mp-Camera-Gold-/182302480502?hash=item2a72131876:g:CIMAAOSwmfhX6oYI",
        "name": "Xiaomi Redmi Note 3 (Gold, 32GB)",
        "description": "5.5 \" (13.9 cm) full HD 1920 x 1080 pixels IPS LCD capacitive touchscreen and 401 ppi pixel density with Sunlight display, Reading mode and Night mode\n\t\t\t\t\t\n\t\t\t\t\t\t 16MP f/2.0 primary camera with Dual ISPs, PDAF and a two tone flash; 5MP front camera with f/2.0 aperture\n\t\t\t\t\t\n\t\t\t\t\t\t Android v5.1 OS with MiUi 7 and 1.8GHz Qualcomm Snapdragon 650 hexa-core 64-bit processor with ARM Cotex-A72 lead cores, 3GB LPDDR3 Dual-channel RAM, 32GB eMMC5.0 internal memory and dual SIM (4G+4G) (Micro + Nano(Hybrid))\n\t\t\t\t\t\n\t\t\t\t\t\t 4050mAH high density lithium-polymer battery\n\t\t\t\t\t\n\t\t\t\t\t\t Metal body with a premium finish, fingerprint sensor with chip-level security encryption and 0.3s unlock time\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t\t\n                \n                 \t\n               \n               \n\t\t\t\n\t\t\t\n\t\t\n\n\t\t\n\n\t\t\n\t\t\t\n\t\t\t\n\t\t\t    ›\n\t\t\t    See more product details",
        "price": "11,999",
        "sd_price": "11,999",
        "ebay_price": "Rs. 12,495.00",
        "image": "http://cdn.ndtv.com/tech/images/redmi_note_3_gold_all_sides.jpg",
        "rating": "3.8 out of 5 stars"
    }

    //var json = JSON.parse(jsonproduct);
    var details=jsonproduct.name+' Description:'+jsonproduct.description+' Amazon Price:'+jsonproduct.price+' Snapdeal Price:'+jsonproduct.sd_price+' Ebay Price:'+jsonproduct.ebay_price+' User Ratings'+jsonproduct.rating;
    //console.log('details');
    window.speechSynthesis.cancel();
    var msg = new SpeechSynthesisUtterance(details);
    //fetch all the voices that are inbuilt
    var voices = window.speechSynthesis.getVoices();
    msg.default = false;
    //voice change filter
    msg.voice = voices.filter(function(voice) { return voice.name == 'Google UK English Male'; })[0];
    msg.voice = voices[10]; // Note: some voices don't support altering params
    msg.voiceURI = 'native';
    window.speechSynthesis.speak(msg);
    function stopspeech(){
        window.speechSynthesis.cancel();
    }
    function pause(){
        window.speechSynthesis.pause();
    }
    function resume(){
        window.speechSynthesis.resume();
    }
</script>

</body>
</html>